Repository microsoftgraph/msgraph-sdk-android-auth: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

Path conditions:
  .azure-pipelines/buildAndPackage.yml: any of: msgraph-sdk-android-auth, but not: .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradlew, gradlew.bat, readme.md, scripts
  .azure-pipelines/prValidate.yml: any file but: .azure-pipelines, .gradle/wrapper, .gitignore, CONTRIBUTING.md, LICENSE, THIRD PARTY NOTICES, gradlew, gradlew.bat, readme.md, scripts

- adds vs code settings for automatic restauration of deps
  .vscode/settings.json
Due: .azure-pipelines/prValidate.yml

- upgrdes dependencies & removes jcenter
  README.md
  build.gradle
  gradle.properties
  msgraph-sdk-android-auth/build.gradle
  msgraph-sdk-android-auth/src/main/java/com/microsoft/graph/authentication/MSALAuthenticationProvider.java
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- ugprades wrapper to latest
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: .azure-pipelines/prValidate.yml

- adds maven publishing tasks
  gradle.properties
  msgraph-sdk-android-auth/.classpath
  msgraph-sdk-android-auth/build.gradle
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml

- moves pipelines tasks to templates
  .azure-pipelines/buildAndPackage.yml
  .azure-pipelines/prValidate.yml
  .azure-pipelines/templates/alert-failure.yml
  .azure-pipelines/templates/build.yml
  .azure-pipelines/templates/checkout-and-credscan.yml
  .azure-pipelines/templates/install-java.yml
  .azure-pipelines/templates/publish-artefacts.yml
  .azure-pipelines/templates/secure-files.yml
Due: none

- adds aar files capture
  .azure-pipelines/templates/publish-artefacts.yml
Due: none

- captures build configuration in all folders
  .azure-pipelines/templates/publish-artefacts.yml
Due: none

- adds file extension to capture pattern
  .azure-pipelines/templates/publish-artefacts.yml
Due: none

- fixes a bug where javadoc and java source would not be produced anymore
  msgraph-sdk-android-auth/build.gradle
Due: .azure-pipelines/buildAndPackage.yml, .azure-pipelines/prValidate.yml
